{% extends 'base.html' %}

{% block content %}
<h2>{{ object.title }}</h2>

<p><strong>Kategorija:</strong> {{ object.category.name }}</p>
<p><strong>Autor:</strong> {{ object.author.username }}</p>

<h3>Opis</h3>
<p>{{ object.description }}</p>

<h3>Sastojci</h3>
<p>{{ object.ingredients }}</p>

<h3>Kulinarski savjeti</h3>
<ul>
    {% for tip in object.tip_set.all %}
        <li>{{ tip.content }}</li>
    {% empty %}
        <li>Nema savjeta za ovaj recept.</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <a href="{% url 'recipe-update' object.pk %}">Uredi</a> |
    <a href="{% url 'recipe-delete' object.pk %}">Obriši</a>
{% endif %}
<br></br>
<a href="{% url 'recipe-list' %}">⬅ Natrag na recepte</a>
{% endblock %}
